<h1>{{pageTitle}}</h1>
<mat-card>
	<mat-input-container>
		<input matInput placeholder="filter" align="end" [(ngModel)]='listFilter' />
	</mat-input-container>
  <button mdl-button md-tooltip="Add Customer" mdl-button-type="fab" mdl-colored="primary" (click)="addCustomer()" mdl-ripple>
    <mdl-icon>add</mdl-icon>
  </button>
</mat-card>
<mat-card *ngFor='let customer of customers | customerFilter:listFilter'>
	<mat-card-title-group>
		<mat-card-title>{{ customer.firstName + ' ' + customer.lastName }}</mat-card-title>
		<mat-card-subtitle>{{ customer.company.companyName }}</mat-card-subtitle>
	</mat-card-title-group>
	<button md-raised-button md-tooltip="Edit Customer" color="primary" (click)="editCustomer(customer)">Edit</button>
	<button mat-icon-button md-tooltip="Edit Address" (click)="editCustomerAddress(customer)">
      <mat-icon class="md-24">home</mat-icon>
    </button>
	<button md-raised-button md-tooltip="Delete Customer" color="warn" (click)="deleteCustomer(customer)">Delete</button>
	<button md-raised-button md-tooltip="Necklaces" color="primary" (click)="editCustomerItems(customer)">Customer Necklaces</button>
</mat-card>
