<md-card>
    <md-toolbar color="primary">{{customer.firstName  + ' ' + customer.lastName}}</md-toolbar>
    <md-card-content>
        <form #elementForm="ngForm" [formGroup]="customerForm">
            <p>
            </p>
            <table style="width: 100%" cellspacing="0">
                <tr>
                    <td>
                        <md-input placeholder="First Name" [(ngModel)]="customer.firstName" name="firstName" formControlName="customerFirstNameValidator">
                            <md-hint *ngIf="customerForm.controls.customerFirstNameValidator.errors?.required" [ngStyle]="{'color': 'red'}" align="start">required error</md-hint>
                        </md-input>
                        <p *ngIf="apiValidationErrors.firstName" [ngStyle]="{'color': 'red'}">
                            {{apiValidationErrors.firstName[0]}}
                        </p>
                    </td>
                    <td>
                        <md-input placeholder="Last Name" [(ngModel)]="customer.lastName" name="lastName" formControlName="customerLastNameValidator">
                            <md-hint *ngIf="customerForm.controls.customerLastNameValidator.errors?.required" [ngStyle]="{'color': 'red'}" align="start">required error</md-hint>
                        </md-input>
                        <p *ngIf="apiValidationErrors.lastName" [ngStyle]="{'color': 'red'}">
                            {{apiValidationErrors.lastName[0]}}
                        </p>
                    </td>
                    <td>
                        
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <md-input placeholder="Email" type="text" [(ngModel)]="customer.email" name="email" formControlName="customerEmailValidator">
                            <md-hint *ngIf="customerForm.controls.customerEmailValidator.errors?.email" [ngStyle]="{'color': 'red'}" align="start">email error message</md-hint>
                        </md-input>
                        <p *ngIf="apiValidationErrors.email" [ngStyle]="{'color': 'red'}">
                            {{apiValidationErrors.email[0]}}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <md-input placeholder="Phone No." type="text" [(ngModel)]="customer.phoneNumber" name="phoneNumber" formControlName="customerPhoneNumberValidator">
                            <md-hint *ngIf="customerForm.controls.customerPhoneNumberValidator.errors?.phone" [ngStyle]="{'color': 'red'}" align="start">Incorrect Phone No.</md-hint>
                        </md-input>
                        <p *ngIf="apiValidationErrors.phoneNumber" [ngStyle]="{'color': 'red'}">
                            {{apiValidationErrors.phoneNumber[0]}}
                        </p>
                    </td>
                    <td>
                        <md-input placeholder="Birthday" type="text" [(ngModel)]="customer.birthDay" name="birthDay" formControlName="customerBirthDayValidator">
                            <md-hint *ngIf="customerForm.controls.customerBirthDayValidator.errors?.date" [ngStyle]="{'color': 'red'}" align="start">Incorrect Birthday</md-hint>
                        </md-input>
                        <p *ngIf="apiValidationErrors.birthDay" [ngStyle]="{'color': 'red'}">
                            {{apiValidationErrors.birthDay[0]}}
                        </p>
                    </td>
                    <td>
                        <vaadin-date-picker label="Pick a date" formControlName="customerBirthDayValidator" [(ngModel)]="customer.birthDay"></vaadin-date-picker>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <md-select style="width: 100%" id="companyId" name="companyId" [(ngModel)]="customer.companyId" (ngModelChange)="updateCompany(customer.companyId)" formControlName="companyId" placeholder="Company">
                            <md-option *ngFor="let company of companies" [value]="company.companyId">
                                {{ company.companyName }}
                            </md-option>
                        </md-select>
                    </td>
                </tr>
            </table>
        </form>
    </md-card-content>
    <md-card-actions align="end">
        <button class="actionButtons" color="primary" (click)="updateCustomer()" md-tooltip="Save" [disabled]="!customerForm.valid" md-mini-fab>
            <md-icon class="md-24">check</md-icon>
        </button>
        <button class="actionButtons" md-tooltip="Cancel" (click)="dialogRef.close()" md-mini-fab>
            <md-icon class="md-24">highlight_off</md-icon>
        </button>
    </md-card-actions>
</md-card>
