<md-card>
    <md-toolbar color="primary">{{customer.firstName  + ' ' + customer.lastName}}</md-toolbar>
    <md-card-content>
        <form #elementForm="ngForm" [formGroup]="customerForm">
            <table style="width: 100%" cellspacing="0">
                <tr>
                    <td>
                        <input mdInput placeholder="First Name" [(ngModel)]="customer.firstName" name="firstName" formControlName="customerFirstName" />
                        <md-hint *ngIf="customerForm.controls.customerFirstName.errors?.required" [ngStyle]="{'color': 'red'}" align="start">required error</md-hint>
                        <p *ngIf="apiValidationErrors.firstName" [ngStyle]="{'color': 'red'}">
                            {{apiValidationErrors.firstName[0]}}
                        </p>
                    </td>
                    <td>
                        <input mdInput placeholder="Last Name" [(ngModel)]="customer.lastName" name="lastName" formControlName="customerLastName" />
                        <md-hint *ngIf="customerForm.controls.customerLastName.errors?.required" [ngStyle]="{'color': 'red'}" align="start">required error</md-hint>
                        <p *ngIf="apiValidationErrors.lastName" [ngStyle]="{'color': 'red'}">
                            {{apiValidationErrors.lastName[0]}}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input mdInput style="width: 100%" placeholder="Email" type="text" [(ngModel)]="customer.email" name="email" formControlName="customerEmail" />
                        <md-hint *ngIf="customerForm.controls.customerEmail.errors?.email" [ngStyle]="{'color': 'red'}" align="start">email error message</md-hint>
                        <p *ngIf="apiValidationErrors.email" [ngStyle]="{'color': 'red'}">
                            {{apiValidationErrors.email[0]}}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input mdInput placeholder="Phone No." type="text" [(ngModel)]="customer.phoneNumber" name="phoneNumber" formControlName="customerPhoneNumber" />
                        <md-hint *ngIf="customerForm.controls.customerPhoneNumber.errors?.phone" [ngStyle]="{'color': 'red'}" align="start">Incorrect Phone No.</md-hint>
                        <p *ngIf="apiValidationErrors.phoneNumber" [ngStyle]="{'color': 'red'}">
                            {{apiValidationErrors.phoneNumber[0]}}
                        </p>
                    </td>
                    <td>
                        <vaadin-date-picker label="Pick a date" formControlName="customerBirthDay" [(ngModel)]="customer.birthDay">
                        </vaadin-date-picker>
                        <p *ngIf="apiValidationErrors.birthDay" [ngStyle]="{'color': 'red'}">
                            {{apiValidationErrors.birthDay[0]}}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <md-select style="width: 100%" id="companyId" name="companyId" [(ngModel)]="customer.companyId" (ngModelChange)="updateCompany(customer.companyId)" formControlName="companyId" placeholder="Company">
                            <md-option *ngFor="let company of companies" [value]="company.companyId">
                                {{ company.companyName }}
                            </md-option>
                        </md-select>
                    </td>
                </tr>
            </table>
        </form>
    </md-card-content>
    <md-card-actions align="end">
        <button class="actionButtons" color="primary" (click)="updateCustomer()" md-tooltip="Save" [disabled]="!customerForm.valid" md-mini-fab>
            <md-icon class="md-24">check</md-icon>
        </button>
        <button class="actionButtons" md-tooltip="Cancel" (click)="dialogRef.close()" md-mini-fab>
            <md-icon class="md-24">highlight_off</md-icon>
        </button>
    </md-card-actions>
</md-card>
