<h1>{{pageTitle}}</h1>

<button mdl-button [routerLink]="['/welcome']">Home</button>

<button mdl-button [md-menu-trigger-for]="companiesmenu">Companies</button>
<md-menu #companiesmenu="mdMenu">
	<button mdl-button mdl-colored="primary" [routerLink]="['/companies']">Company List</button>
</md-menu>

<button mdl-button [md-menu-trigger-for]="customersmenu">Customers</button>
<md-menu #customersmenu="mdMenu">
	<button mdl-button mdl-colored="primary"  [routerLink]="['/customers']">Customer List</button>
</md-menu>

<div class='container'>
	<router-outlet></router-outlet>
</div>
