<mat-card>
    <mat-toolbar color="primary">{{addressName}}</mat-toolbar>
    <mat-card-content>
        <form [formGroup]="addressForm" >
            <p>
                <mat-input-container>
                    <textarea matInput placeholder="Address Line 1" [(ngModel)]="address.addressLine1" name="addressLine1" formControlName="addressLine1"></textarea>
                </mat-input-container>
                <mat-input-container>
                    <textarea matInput placeholder="Address Line 2" [(ngModel)]="address.addressLine2" name="addressLine2" formControlName="addressLine2"></textarea>
                </mat-input-container>
                <mat-input-container>
                    <textarea matInput placeholder="Address Line 3" [(ngModel)]="address.addressLine3" name="addressLine3" formControlName="addressLine3"></textarea>
                </mat-input-container>
            </p>
            <table style="width: 100%" cellspacing="0">
                <tr>
                    <td>
                        <mat-input-container>
                        <input matInput placeholder="City" [(ngModel)]="address.city" name="city" formControlName="addressCity" />
                            <mat-hint *ngIf="addressForm.controls.addressCity.errors?.required" [ngStyle]="{'color': 'red'}" align="start">required error</mat-hint>
                        <p *ngIf="apiValidationErrors.city" [ngStyle]="{'color': 'red'}">
                            {{apiValidationErrors.city[0]}}
                        </p>
                        </mat-input-container>
                    </td>
                    <td>
                        <mat-input-container>
                        <input matInput placeholder="State" maxLength="2" [(ngModel)]="address.state" name="state" formControlName="addressState" />
                        <p *ngIf="apiValidationErrors.state" [ngStyle]="{'color': 'red'}">
                            {{apiValidationErrors.state[0]}}
                        </p>
                        </mat-input-container>
                    </td>
                    <td>
                        <mat-input-container>
                        <input matInput #postalCode maxLength="5" placeholder="Postal Code" [(ngModel)]="address.zipCode" name="zipCode" formControlName="addressZipCode" />
                        <mat-hint align="end">{{postalCode.characterCount}} / 5</mat-hint>
                        </mat-input-container>
                    </td>
                </tr>
            </table>
        </form>
    </mat-card-content>
    <mat-card-actions align="end">
        <button class="actionButtons" color="primary" (click)="updateAddress()" md-tooltip="Save" [disabled]="!addressForm.valid" md-mini-fab>
            <mat-icon class="md-24">check</mat-icon>
        </button>
        <button class="actionButtons" md-tooltip="Cancel" (click)="dialogRef.close()" md-mini-fab>
            <mat-icon class="md-24">highlight_off</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>