<md-card>
    <md-toolbar color="primary">{{addressName}}</md-toolbar>
    <md-card-content>
        <form #frmAddress="ngForm" novalidate>
            <p>
                <md-textarea placeholder="Address Line 1" [(ngModel)]="address.addressLine1" name="addressLine1" ></md-textarea>
                <md-textarea placeholder="Address 2" [(ngModel)]="address.addressLine2" name="addressLine2" ></md-textarea>
                <md-textarea placeholder="Address 3" [(ngModel)]="address.addressLine3" name="addressLine3" ></md-textarea>
            </p>
            <table style="width: 100%" cellspacing="0">
                <tr>
                    <td>
                        <md-input placeholder="City" [(ngModel)]="address.city" name="city" #city="ngModel" required>
                            <md-hint *ngIf="city.errors?.required" [ngStyle]="{'color': 'red'}" align="start">required error</md-hint>
                        </md-input>
                        <p *ngIf="apiValidationErrors.city" [ngStyle]="{'color': 'red'}">
                            {{apiValidationErrors.city[0]}}
                        </p>
                    </td>
                    <td>
                        <md-input placeholder="State" maxLength="2" [(ngModel)]="address.state" name="state" ></md-input>
                        <p *ngIf="apiValidationErrors.state" [ngStyle]="{'color': 'red'}">
                            {{apiValidationErrors.state[0]}}
                        </p>
                    </td>
                    <td>
                        <md-input #postalCode maxLength="5" placeholder="Postal Code" [(ngModel)]="address.zipCode" name="zipCode" >
                            <md-hint align="end">{{postalCode.characterCount}} / 5</md-hint>
                        </md-input>
                    </td>
                </tr>
            </table>
        </form>
    </md-card-content>
    <md-card-actions align="end">
        <button class="actionButtons" color="primary" (click)="updateAddress()" md-tooltip="Save" [disabled]="!frmAddress.valid" md-mini-fab>
            <md-icon class="md-24">check</md-icon>
        </button>
        <button class="actionButtons" md-tooltip="Cancel" (click)="dialogRef.close(address)" md-mini-fab>
            <md-icon class="md-24">highlight_off</md-icon>
        </button>
    </md-card-actions>
</md-card>