<md-card>
    <md-toolbar color="primary">{{company.companyName}}</md-toolbar>
    <md-card-content>
        <form [formGroup]="companyForm">
            <p>
            </p>
            <table style="width: 100%" cellspacing="0">
                <tr>
                    <td>
                        <md-input placeholder="Company Name" [(ngModel)]="company.companyName" name="companyName" formControlName="companyNameValidator">
                            <md-hint *ngIf="companyForm.controls.companyNameValidator.errors?.required" [ngStyle]="{'color': 'red'}" align="start">required error</md-hint>
                        </md-input>
                        <p *ngIf="apiValidationErrors.companyName" [ngStyle]="{'color': 'red'}">
                            {{apiValidationErrors.companyName[0]}}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <md-input type="text" [(ngModel)]="company.email" name="email" formControlName="companyEmailValidator">
                            <md-hint *ngIf="companyForm.controls.companyEmailValidator.errors?.email" [ngStyle]="{'color': 'red'}" align="start">email error message</md-hint>
                        </md-input>
                    </td>
                </tr>
            </table>
        </form>
    </md-card-content>
    <md-card-actions align="end">
        <button class="actionButtons" color="primary" (click)="updateCompany()" md-tooltip="Save" [disabled]="!companyForm.valid" md-mini-fab>
            <md-icon class="md-24">check</md-icon>
        </button>
        <button class="actionButtons" md-tooltip="Cancel" (click)="dialogRef.close(company)" md-mini-fab>
            <md-icon class="md-24">highlight_off</md-icon>
        </button>
    </md-card-actions>
</md-card>