<h1>{{pageTitle}}</h1>
<mat-card>
	<input matInput placeholder="filter" align="end" [(ngModel)]='listFilter' />
	<button mdl-button md-tooltip="Add Company" mdl-button-type="fab" mdl-colored="primary" (click)="addCompany()" mdl-ripple>
    <mdl-icon>add</mdl-icon>
  </button>
</mat-card>
<mat-card *ngFor='let company of companies | companyFilter:listFilter'>
	<mat-card-title-group>
		<mat-card-title>{{ company.companyName }}</mat-card-title>
		<mat-card-subtitle>
			<ai-star [rating]='company.companyId' (ratingClicked)='onRatingClicked($event)'></ai-star>
		</mat-card-subtitle>
	</mat-card-title-group>
	<button md-raised-button md-tooltip="Edit Company" color="primary" (click)="editCompany(company)">Edit</button>
	<button md-tooltip="Edit Address" mat-icon-button (click)="editCompanyAddress(company)">
      <mat-icon class="md-24">home</mat-icon>
    </button>
	<button md-raised-button md-tooltip="Delete Customer" color="warn" (click)="deleteCompany(company)">Delete</button>
	<button md-raised-button md-tooltip="Customers" color="primary" >Customers</button>
</mat-card>
