<div class="crop" 
    [style.width.px]="starWidth"
    [title]="rating"
    (click)='onClick()'>
    <div style="display:flex;flex-direction:row">
        <span><md-icon [style.font-size.px]="starFontSize">grade</md-icon></span>
        <span><md-icon [style.font-size.px]="starFontSize">grade</md-icon></span>
        <span><md-icon [style.font-size.px]="starFontSize">grade</md-icon></span>
        <span><md-icon [style.font-size.px]="starFontSize">grade</md-icon></span>
        <span><md-icon [style.font-size.px]="starFontSize">grade</md-icon></span>
    </div>
</div>